<div class="creator-card">
  <div class="background">
    <div class="black-bar">
    </div>
  </div>
  <div class="card-contents" >

    <div class="grey-out" [@fadeIn]="animationState"></div>
    <div class="ref-button" [@fadeIn]="animationState">
      <button mat-stroked-button>zobacz autora</button>
    </div>
    <div class="info-container" [@infoSlide]="animationState">
      <div class="info-header" >
        <img src="../../../../assets/images/default-avatar.png"/>
        <h3>nazwaAutora</h3>
      </div>
      <div class="info-description">
        opis opisopis opisopis opisopis opisopis opisopis opisopis opisopis opisopis opisopis opisopis opisopis opisopis opisopis opis
        opis opisopis opisopis opisopis opisopis opisopis opisopis opisopis opisopis opisopis opisopis opisopis opisopis opisopis opis
        opis opisopis opisopis opisopis opisopis opisopis opisopis opisopis opisopis opisopis opisopis opisopis opisopis opisopis opis
        opis opisopis opisopis opisopis opisopis opisopis opisopis opisopis opisopis opisopis opisopis opisopis opisopis opisopis opis
        opis opisopis opisopis opisopis opisopis opisopis opisopis opisopis opisopis opisopis opisopis opisopis opisopis opisopis opis
        opis opisopis opisopis opisopis opisopis opisopis opisopis opisopis opisopis opisopis opisopis opisopis opisopis opisopis opis
        opis opisopis opisopis opisopis opisopis opisopis opisopis opisopis opisopis opisopis opisopis opisopis opisopis opisopis opis
      </div>
      <div class="spacer" ></div>
      <div class="info-tags">
        Tag1, tag2, tag3
      </div>
    </div>
  </div>
</div>
