<div class="creator-card">
  <div class="background">
    <div class="black-bar">
    </div>
  </div>
  <div class="card-contents" >

    <div class="grey-out" [@fadeIn]="animationState"></div>
    <div class="ref-button" routerLink="/tworca/{{creator.uid}}" [@fadeIn]="animationState">
      <button mat-stroked-button>zobacz autora</button>
    </div>
    <div class="info-container" [@infoSlide]="animationState">
      <div class="info-header" >
        <img [src]="creator.avatar"/>
        <h3>{{creator.visibleName}}</h3>
      </div>
      <div class="info-description">
        {{creator.creatorFields.description}}
      </div>
      <div class="spacer" ></div>
      <div class="info-tags">
        {{creator.creatorFields.tags}}
      </div>
    </div>
  </div>
</div>
