<app-simple-header></app-simple-header>
<body>
  <div class="main-container">
    <div class="login-container">
      <h3>Zaloguj się</h3>
      <button mat-raised-button  class="facebook-button">
      <span class="button-content-container">
        <img class="button-icon" src="../../../assets/images/icons/facebook-icon-white.png" alt="zaloguj się przez facebooka" matPrefix/>
      <span class="button-text">
        Zaloguj się przez facebooka
      </span>
      </span>
      </button>
      <button mat-raised-button>
      <span class="button-content-container">
        <img class="button-icon" src="../../../assets/images/icons/google-icon-color.png" alt="zaloguj się przez google" matPrefix/>
        <span class="button-text">
        Zaloguj się przez google
        </span>
      </span>
      </button>
      <h3>lub przy użyciu poczty</h3>
      <ngForm class="form-container">
        <mat-form-field>
          <input matInput placeholder="Adres e-mail" [formControl]="loginEmail" required>
          <mat-error *ngIf="loginEmail.invalid">{{getLoginErrorMessage()}}</mat-error>
        </mat-form-field>
        <mat-form-field>
          <input matInput placeholder="Hasło" type="password">
        </mat-form-field>
        <div class="login-options">
         <div class="memory-container">
           <mat-checkbox color="primary">zapamiętaj mnie</mat-checkbox>
           <a>nie pamiętam hasła</a>
         </div>
          <span class="privacy-policy">
            Logowanie oznacza akceptację <a><b>Regulaminu</b></a> serwisu oraz <a><b>Polityki Prywatności.</b></a>
          </span>
        </div>
        <div>
          Logując się do serwisu oświadczam, że mam więcej niż 18 lat lub przekazałem wypełniony i podpisany formularz "Zgodna na założenie konta przez osobę niepełnoletnią" dostępny w regulaminie Pratonite.pl
        </div>
        <button mat-stroked-button color="primary">Zaloguj</button>
      </ngForm>
    </div>

    <div class="register-container">
      <h3>Zarejestruj się</h3>
      <button mat-raised-button  class="facebook-button">
      <span class="button-content-container">
        <img class="button-icon" src="../../../assets/images/icons/facebook-icon-white.png" alt="zaloguj się przez facebooka" matPrefix/>
        <span class="button-text">
          Zarejestruj się prez facebooka
        </span>
      </span>
      </button>
      <button mat-raised-button>
      <span class="button-content-container">
        <img class="button-icon" src="../../../assets/images/icons/google-icon-color.png" alt="zaloguj się przez google" matPrefix/>
        <span class="button-text">
        Zarejestruj się przez google
        </span>
      </span>
      </button>
      <h3>lub przy użyciu poczty</h3>
      <div class="form-container">
        <mat-form-field>
          <input matInput placeholder="Imię" required>
        </mat-form-field>
        <mat-form-field>
          <input matInput placeholder="Nazwisko" required>
        </mat-form-field>
        <mat-form-field>
          <input matInput placeholder="Adres e-mail" [formControl]="registerEmail" required>
          <mat-error *ngIf="registerEmail.invalid">{{getRegisterErrorMessage()}}</mat-error>
        </mat-form-field>
        <mat-form-field>
          <input matInput placeholder="Hasło" type="password">
        </mat-form-field>
        <mat-form-field>
          <input matInput placeholder="Powtórz hasło" type="password">
        </mat-form-field>
        <div><p>
          Hasło musi składać się z co najmniej 8 znaków i zawierać małą, dużą literę, liczbę lub znak specjalny. Pamiętaj, aby nie udostępniać go nikomu.
        </p></div>
        <button mat-stroked-button color="primary">Załóż konto</button>
        <div> <mat-checkbox color="primary">
          Zapoznałem się i akceptuję <a><b>Regulamin</b></a> serwisu oraz <a><b>Politykę Prywatności</b></a>.
        </mat-checkbox></div>
        <div> <mat-checkbox color="primary">
          Wyrażam zgodę na przetwarzanie moich danych osobowych podanych w formularzu rejestracyjnym w celu prawidłowego świadczenia usług serwisu Pratonite.
        </mat-checkbox></div>
        <div> <mat-checkbox color="primary">
          Wyrażam zgodę na otrzymywanie drogą elektroniczną informacji handlowych - newslettera. Opcja ta może zostać zmieniona w ustawieniach konta.
        </mat-checkbox></div>
      </div>
    </div>
  </div>
</body>
<footer>
</footer>
