@import '../../../../shared';
@import "../../../../assets/themes/custom-theme";

$secondary-palette: map-get($custom-theme, accent);

$secondary-color-dark: mat-color($custom-accent, darker);

header {
  display: flex;
  background-color: whitesmoke;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  height: 100px;
  .clear-margin {
    width: $nav-icons-width;
  }
}

.profile-icons {
  @include profile-icons($secondary-color-dark);
}
