<button mat-icon-button matTooltip="Szukaj">
  <mat-icon>search</mat-icon>
</button>
<button mat-icon-button matTooltip="Pomoc">
  <mat-icon>contact_support</mat-icon>
</button>
<div *ngIf="displayProfileIcons; then thenBlock else elseBlock"></div>
<ng-template #thenBlock>
  <button mat-icon-button matTooltip="Wyloguj" (click)="logout()">
    <mat-icon>exit_to_app</mat-icon>
  </button>
  <button mat-icon-button matTooltip="Profil" routerLink="/moj_profil">
    <mat-icon>person</mat-icon>
  </button>
</ng-template>
<ng-template #elseBlock>
  <button mat-icon-button matTooltip="Zaloguj" routerLink="/login">
    <mat-icon>person</mat-icon>
  </button>
</ng-template>
<button mat-icon-button matTooltip="Menu">
  <mat-icon>menu</mat-icon>
</button>
