<div class="side-menu">
  <ul class="main-ul">
    <li>
      <div class="chapter">
        <span><a>
          dane ogólne
        </a></span>
      </div>
      <ul>
        <li><a>
          Twoje Dane
        </a></li>
        <li><a>
          Hasło
        </a></li>
        <li><a>
          Metody Logowania
        </a></li>
        <li><a>
          Powiadomienia
        </a></li>
        <li><a>
          Wiadomości Prywatne
        </a></li>
        <li><a>
          Usuń Konto
        </a></li>
      </ul>
    </li>
    <li>
      <div class="chapter">
        <span><a>
          strefa patrona
        </a></span>
      </div>
      <ul>
        <li><a>
          Moje Aktywne Subskrybcje
        </a></li>
        <li><a>
          Moje Nieaktywne Subskrybcje
        </a></li>
        <li><a>
          Obserwowane Progi
        </a></li>
        <li><a>
          Prywatność
        </a></li>
        <li><a>
          Poty Obserwowanych
        </a></li>
      </ul>
    </li>
    <li>
      <div class="chapter">
        <span><a>
          strefa twórcy
        </a></span>
      </div>
      <ul>
        <li><a>
          Moje progi
        </a></li>
      </ul>
    </li>
    <li>
      <div class="chapter">
        <span><a>
          Strafa finansów
        </a></span>
      </div>
      <ul>
        <li><a>
          Faktury
        </a></li>
        <li><a>
          Karty Płatnicze
        </a></li>
      </ul>
    </li>
  </ul>
</div>
