<app-simple-header></app-simple-header>

<div class="info-container">
  <div class="avatar-box">
    <img src="../../../assets/images/default-avatar.png"/>
  </div>
  <div class="center-box">
    <h2>Nazwa twórcy</h2>
    <h3>Tagi, Tagi, Tagi</h3>
    <p>rola</p>
  </div>
  <div class="right-box">
    <div class="stat-box">
      XX
      <p>patronów</p>
    </div>
    <div class="stat-box">
      XX
      <p>patronów</p>
    </div>
    <div class="stat-box">
      XX
      <p>patronów</p>
    </div>
  </div>
</div>
<div class="main-container">
  <div class="title-container">
    <mat-icon class="material-icons.md-36">view_list</mat-icon><h2>Progi:</h2>
  </div>
  <div class="steps-container">
    <div class="step">
      <div class="step-header">
        <div class="title">
          <h4>
            Poziom X
          </h4>
          <h5>
            X zł / miesiąc
          </h5>
        </div>
        <div class="step-description">
          <h3>Opis:</h3>
          opis opisopisopis opisopisopis opisopisopis opisopisopis opisopisopis opisopisopis opisopisopis opisopisopis opisopisopis opisopisopis opisopisopis opisopisopis opisopis.opis opisopisopis opisopisopis opisopisopis opisopisopis opisopisopis opisopisopis opisopisopis opisopisopis opisopisopis opisopisopis opisopisopis opisopisopis opisopis.opis opisopisopis opisopisopis opisopisopis opisopisopis opisopisopis opisopisopis opisopisopis opisopisopis opisopisopis opisopisopis opisopisopis opisopisopis opisopis.opis opisopisopis opisopisopis opisopisopis opisopisopis opisopisopis opisopisopis opisopisopis opisopisopis opisopisopis opisopisopis opisopisopis opisopisopis opisopis.opis opisopisopis opisopisopis opisopisopis opisopisopis opisopisopis opisopisopis opisopisopis opisopisopis opisopisopis opisopisopis opisopisopis opisopisopis opisopis.
        </div>
        <button class="subscribe-button" mat-raised-button color="primary">
          Subskrybuj <mat-icon>stars</mat-icon>
        </button>
      </div>
      <div class="step-content">

      </div>
    </div>
    <div class="step">
      <div class="step-header">
        <div class="title">
          <h4>
            Poziom X
          </h4>
          <h5>
            X zł / miesiąc
          </h5>
        </div>
        <div class="step-description">
          <h3>Opis:</h3>
          opis opisopisopis opisopisopis opisopisopis opisopisopis opisopisopis opisopisopis opisopisopis opisopisopis opisopisopis opisopisopis opisopisopis opisopisopis opisopis.opis opisopisopis opisopisopis opisopisopis opisopisopis opisopisopis opisopisopis opisopisopis opisopisopis opisopisopis opisopisopis opisopisopis opisopisopis opisopis.opis opisopisopis opisopisopis opisopisopis opisopisopis opisopisopis opisopisopis opisopisopis opisopisopis opisopisopis opisopisopis opisopisopis opisopisopis opisopis.opis opisopisopis opisopisopis opisopisopis opisopisopis opisopisopis opisopisopis opisopisopis opisopisopis opisopisopis opisopisopis opisopisopis opisopisopis opisopis.opis opisopisopis opisopisopis opisopisopis opisopisopis opisopisopis opisopisopis opisopisopis opisopisopis opisopisopis opisopisopis opisopisopis opisopisopis opisopis.
        </div>
        <button class="subscribe-button" mat-raised-button color="primary">
          Subskrybuj <mat-icon>stars</mat-icon>
        </button>
      </div>
      <div class="step-content">

      </div>
    </div>
    <div class="step">
      <div class="step-header">
        <div class="title">
          <h4>
            Poziom X
          </h4>
          <h5>
            X zł / miesiąc
          </h5>
        </div>
        <div class="step-description">
          <h3>Opis:</h3>
          opis opisopisopis opisopisopis opisopisopis opisopisopis opisopisopis opisopisopis opisopisopis opisopisopis opisopisopis opisopisopis opisopisopis opisopisopis opisopis.opis opisopisopis opisopisopis opisopisopis opisopisopis opisopisopis opisopisopis opisopisopis opisopisopis opisopisopis opisopisopis opisopisopis opisopisopis opisopis.opis opisopisopis opisopisopis opisopisopis opisopisopis opisopisopis opisopisopis opisopisopis opisopisopis opisopisopis opisopisopis opisopisopis opisopisopis opisopis.opis opisopisopis opisopisopis opisopisopis opisopisopis opisopisopis opisopisopis opisopisopis opisopisopis opisopisopis opisopisopis opisopisopis opisopisopis opisopis.opis opisopisopis opisopisopis opisopisopis opisopisopis opisopisopis opisopisopis opisopisopis opisopisopis opisopisopis opisopisopis opisopisopis opisopisopis opisopis.
        </div>
        <button class="subscribe-button" mat-raised-button color="primary">
          Subskrybuj <mat-icon>stars</mat-icon>
        </button>
      </div>
      <div class="step-content">

      </div>
    </div>
  </div>
</div>
