<div class="main-container">
  <header class="slider-bar">
    <div class="top-bar">
      <nav class="menu-container">
        <div class="brand-button" >
          <a href="/">
            <img src="../../../assets/images/logo_and_text.png" alt="Go to main page">
          </a>
        </div>
        <div class="profile-container">
          <div class="profile-buttons">
            <button mat-stroked-button color="accent">zarabiaj</button>
            <button mat-stroked-button color="primary">wspieraj</button>
          </div>
          <div class="profile-icons">
            <a><mat-icon>search</mat-icon></a>
            <a><mat-icon>contact_support</mat-icon></a>
            <a><mat-icon>person</mat-icon></a>
            <a><mat-icon>menu</mat-icon></a>
          </div>
        </div>
      </nav>
    </div>
    <div class="mid-bar">
      <h1>
        Jakiś tekst
      </h1>
      <p>jakiś podekst. yashgasykgdjghjf vjhhgfhj fhgjyashgas ykgdjghjfvjh hgfhjf hfhhjfjy</p>
    </div>
    <div class="bottom-bar">
      <button mat-raised-button color="primary">text</button>
      <ul class="navigation">
        <li></li>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
      </ul>
    </div>
  </header>
  <label class="search-container">
    <input type="text" name="searchbar" placeholder=" search">
    <mat-icon>search</mat-icon>
  </label>
  <div class="recommendations-label" >
    <h3>
      Polecane
    </h3>
    <mat-icon>whatshot</mat-icon>
  </div>
  <div class="creators-container">
    <ul>
      <li>
        <a>
          <div>

          </div>
        </a>
      </li>
      <li>
        <a>
          <div>

          </div>
        </a>
      </li><li>
      <a>
        <div>

        </div>
      </a>
    </li>

    </ul>
  </div>
</div>
