<div class="main-container">
  <header class="slider-bar">
    <div class="slider-contents">
      <div class="top-bar">
        <nav class="menu-container">
          <div class="brand-button" >
            <a href="/">
              <img src="../../../assets/images/logo_and_text.png" alt="Go to main page">
            </a>
          </div>
          <div class="profile-container">
            <div class="profile-buttons">
              <button mat-stroked-button color="primary">zarabiaj</button>
              <button mat-stroked-button color="primary">wspieraj</button>
            </div>
            <app-nav-icons class="profile-icons"></app-nav-icons>
          </div>
        </nav>
      </div>
      <div class="mid-bar" [@fadeIn]="currentIndex">
        <h1>
          Slide {{currentIndex}}
        </h1>
        <p>{{slides[currentIndex].description}}</p>
      </div>
      <div class="bottom-bar">
        <button mat-raised-button color="primary">text</button>
        <ul class="navigation">
          <li *ngFor="let slide of slides; let i = index;">
            <a class="dot"
              (click)="carousel.selectSlide(i)"
              [class.active]="i === carousel.activeSlide"
              ></a>
          </li>
        </ul>
      </div>
    </div>
    <div class="slider-background">
      <mdb-carousel #carousel
        class="carousel"
        [isControls]="false"
        [noPause]="true"
        [animation]="'slide'"
        [interval]="5000"
        (activeSlideChange)="onActiveSlideChange($event)"
        >
        <mdb-carousel-item *ngFor="let slide of slides; let i = index">
          <div class="view w-100">
            <img class="d-block w-100" [src]="slide.image" [alt]="slide.description">
            <div class="mask rgba-black-slight"></div>
          </div>
        </mdb-carousel-item>
      </mdb-carousel>
    </div>
  </header>
  <label class="search-container">
    <input type="text" name="searchbar" placeholder="search">
    <mat-icon>search</mat-icon>
  </label>
  <div class="recommendations-label" >
    <h3>
      Polecane
    </h3>
    <mat-icon>whatshot</mat-icon>
  </div>
  <div class="creators-container" *ngIf="recommendedCreators != null; else loadingBlock">
    <div class="creators-container-center">
      <ul>
        <li *ngFor="let c of recommendedCreators">
          <a routerLink="/tworca/{{c.uid}}">
            <app-creator-card [creator]="c"></app-creator-card>
          </a>
        </li>
      </ul>
    </div>
  </div>
</div>

<ng-template #loadingBlock>
  <mat-progress-spinner
    class="spinner"
    color="primary"
    mode="indeterminate">
  </mat-progress-spinner>
</ng-template>
