<section *ngIf="profileDetails != null; else elseBlock" class="forms-container">
  <div class="title-container">
      <mat-icon class="material-icons.md-36">person</mat-icon><h2>Twoje dane:</h2>
  </div>
  <form>
    <div class="form-row">
      <mat-form-field appearance="outline" [floatLabel]="isFloatLabel">
        <mat-label>Imie</mat-label>
        <input matInput maxLenght="50" name="name" [(ngModel)]="profileDetails.name" >
        <mat-hint align="end">{{profileDetails.name.length || 0}}/50</mat-hint>
      </mat-form-field>
      <mat-form-field appearance="outline" [floatLabel]="isFloatLabel">
        <mat-label>Nazwisko</mat-label>
        <input matInput maxlength="100" name="surname" [(ngModel)]="profileDetails.surname">
        <mat-hint align="end">{{profileDetails.surname.length || 0}}/100</mat-hint>
      </mat-form-field>
    </div>
    <div class="form-row">
      <mat-form-field appearance="outline" [floatLabel]="isFloatLabel">
        <mat-label>Adres email</mat-label>
        <input matInput name="email" [(ngModel)]="profileDetails.email">
        <mat-hint>Autorzy kontaktują się z Patronami mailowo - upewnij się, że Twój adres e-mail jest aktualny!</mat-hint>
      </mat-form-field>
      <mat-form-field appearance="outline" [floatLabel]="isFloatLabel">
        <mat-label>Widoczna nazwa użytkownika</mat-label>
        <input matInput name="visibleName" [(ngModel)]="profileDetails.visibleName">
      </mat-form-field>
    </div>
    <h5>Twoje unikalne ID to: <b>{{profileDetails.uid}}</b></h5>
  </form>
  <div class="form-button">
    <button mat-raised-button color="primary" (click)="saveProfile()">
      Zapisz zmiany
    </button>
  </div>
  <div class="change-avatar-container">
    <div class="title-container">
      <mat-icon class="material-icons.md-36">person</mat-icon><h2>Twój avatar:</h2>
    </div>
    <input hidden id="avatar" (change)="avatarChangeEvent($event)" type="file" accept="image/*" #avatarInput>
    <div class="avatar-display">
      <img *ngIf="profileDetails.avatar.length > 0" src="{{profileDetails.avatar}}" alt="" [@zoomFadeBlur]="avatarAnimationState">
      <a (click)="avatarInput.click()"
         class="hover-option"
         (mouseenter)="avatarHoverEnter()"
         (mouseleave)="avatarHoverLeave()"
         [@zoomFade]="avatarAnimationState"
      >
        <h2>ZMIEŃ</h2>
      </a>
    </div>
  </div>
</section>

<ng-template #elseBlock>
    <mat-progress-spinner
      class="spinner"
      color="primary"
      mode="indeterminate">
    </mat-progress-spinner>
</ng-template>
