@import './assets/themes/custom-theme';

$nav-icons-width: 200px;

$secondary-palette: map-get($custom-theme, accent);
$primary-color: mat-color($custom-primary);
$secondary-color: mat-color($custom-accent);
$secondary-color-dark: mat-color($custom-accent, darker);

@mixin profile-icons($color) {
  color: $color;
  width: $nav-icons-width;
  justify-self: flex-end;
  margin-right: 3%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

@mixin main-background() {
  background: {
    image: url("/assets/images/overlay2_2.png");
    position: left;
    repeat: no-repeat;
  }
}
